<form [formGroup]="addClientForm">
  <div class="card text-center">
    <div
      class="card-header d-flex justify-content-center"
      style="background-color: #1ca55c"
    >
      <h5 class="card-title mt-2">Client informations</h5>
    </div>
    <div
      class="card-header d-flex justify-content-center"
      style="background-color: #1ca55c"
    ></div>
    <div class="card-body">
      <div class="d-flex justify-content-center">
        <h5 class="card-title">thanks for fulfilling client fields</h5>
      </div>

      <div class="col-12">
        <label for="inputEmail4" class="form-label">Name</label>
        <input
          type="Name"
          class="form-control"
          id="inputEmail4"
          formControlName="name"
          value="{{ clientEdite?.name }}"
          required
          [class.is-invalid]="
            addClientForm.get('name')?.invalid &&
            addClientForm.get('name')?.touched
          "
        />

        <div
          *ngIf="
            (addClientForm.get('name')?.invalid &&
              addClientForm.get('name')?.touched) ||
            addClientForm.get('name')?.dirty
          "
        >
          <small
            class="text-danger"
            *ngIf="addClientForm.get('name')?.errors?.['required']"
            >name is required</small
          >
        </div>
      </div>
      <div class="col-12">
        <label for="inputPassword4" class="form-label">Adress</label>
        <input
          type="text"
          class="form-control"
          id="inputPassword4"
          value="{{ clientEdite?.adress }}"
          formControlName="adress"
          required
          [class.is-invalid]="
            addClientForm.get('adress')?.invalid &&
            addClientForm.get('adress')?.touched
          "
        />

        <div
          *ngIf="
            (addClientForm.get('adress')?.invalid &&
              addClientForm.get('adress')?.touched) ||
            addClientForm.get('adress')?.dirty
          "
        >
          <small
            class="text-danger"
            *ngIf="addClientForm.get('adress')?.errors?.['required']"
            >adress address is required</small
          >
        </div>
      </div>
      <div class="col-12">
        <label>ticket Plan</label>
        <ng-multiselect-dropdown
          [placeholder]="'custom placeholder'"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          formControlName="ticketPlan"
          [(ngModel)]="selectedItems"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          [class.is-invalid]="
            addClientForm.get('ticketPlan')?.invalid &&
            addClientForm.get('ticketPlan')?.touched
          "
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <div class="col-12">
        <button type="submit" (click)="submiteClient()" class="btn btn-success">
          Sign in
        </button>
      </div>
    </div>
  </div>
</form>
